.products {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    .product {
        width: 250px;
        background-color: #fafafa;
        border: 1px solid #ccc;
        margin-bottom: 1em;
        transition: all .2s ease-in-out;

        .img {
            height: 140px;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:hover {
            background-color: #f3f3f3;
            transform: scale(1.02);
        }

        mat-card-subtitle {
            margin-bottom: .4em;
            span, p {
                display: inline-block;
            }
        }
    }
}