<div class="base-padding">
  <h2 style="margin-bottom: 0;">Dettagli prodotto</h2>
  <p class="op-5">Qui puoi trovare i dettagli del prodotto selezionato.</p>
  <br>
  
  <mat-card class="product product-single" *ngIf="product">
    <mat-card-header>
      <mat-card-title>{{product.title}}</mat-card-title>
      <mat-card-subtitle [innerHTML]="product.body_html"></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image :src="{{product.image.src}}" :alt="{{product.image.alt}}">
    <mat-card-content>
      <br>
      <h2>Dettagli <span class="op-5">di {{product.title}}</span></h2>
      <p class="op-5">{{product.body_html | stripsHtmlTag }}</p>
      <p>Produttore: {{product.vendor}}</p>
      <p>Categoria: {{product.product_type}}</p>
      <p>Status: {{product.status}}</p>
      <p>Immagini prodotto: {{product.images.length}}</p>
      <mat-chip class="tags" *ngFor="let tag of product.tags.split(',')">{{tag}}</mat-chip>
    </mat-card-content>
</mat-card>
</div>