<main>
  <header>
    <div class="logo base-padding">
      <div class="left-menu" routerLink="/">
        <img src="https://cdn3.iconfinder.com/data/icons/brand-identity/24/crown_luxury_royal_authority_royalty-64.png">
        <p style="cursor: pointer;">Easycommerce</p>
      </div>

      <div class="right-menu">
        <div class="menu-link hide-mobile" *ngIf="collections$">
          <a :routerLink="{{collection.handle}}" [class.active]="activeCollectionHandle==collection.handle" *ngFor="let collection of collections$">{{collection.title}}</a>
        </div>

        <div class="menu-link hide-desktop">
          <button mat-button [matMenuTriggerFor]="menu">
            Categorie
          </button>
          <mat-menu #menu="matMenu">
            <a mat-menu-item :routerLink="{{collection.handle}}" *ngFor="let collection of collections$">{{collection.title}}</a>
          </mat-menu>
        </div>
  
        <div class="menu-icon hide-500px">
          <button mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon matBadge="2">shopping_cart</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>person</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="discount">
      <p>15% di sconto su tutti i prodotti del catalogo online nel mese di Febbraio.</p>
    </div>
  </header>

  <router-outlet></router-outlet>
</main>